@layer margin-responsive {
  @media (min-width: var(--ds-breakpoint-xs)) {
    .xs:m-0 {
      margin: var(--ds-spacing-0);
    }
    .xs:m-xs {
      margin: var(--ds-spacing-xs);
    }
    .xs:m-sm {
      margin: var(--ds-spacing-sm);
    }
    .xs:m-md {
      margin: var(--ds-spacing-md);
    }
    .xs:m-lg {
      margin: var(--ds-spacing-lg);
    }
    .xs:m-xl {
      margin: var(--ds-spacing-xl);
    }
    .xs:m-2xl {
      margin: var(--ds-spacing-2xl);
    }
    .xs:m-3xl {
      margin: var(--ds-spacing-3xl);
    }
    .xs:m-4xl {
      margin: var(--ds-spacing-4xl);
    }
    .xs:m-5xl {
      margin: var(--ds-spacing-5xl);
    }

    .xs:mx-xs {
      margin-inline: var(--ds-spacing-xs);
    }
    .xs:mx-sm {
      margin-inline: var(--ds-spacing-sm);
    }
    .xs:mx-md {
      margin-inline: var(--ds-spacing-md);
    }
    .xs:mx-lg {
      margin-inline: var(--ds-spacing-lg);
    }
    .xs:mx-xl {
      margin-inline: var(--ds-spacing-xl);
    }
    .xs:mx-2xl {
      margin-inline: var(--ds-spacing-2xl);
    }
    .xs:mx-3xl {
      margin-inline: var(--ds-spacing-3xl);
    }
    .xs:mx-4xl {
      margin-inline: var(--ds-spacing-4xl);
    }
    .xs:mx-5xl {
      margin-inline: var(--ds-spacing-5xl);
    }

    .xs:my-xs {
      margin-block: var(--ds-spacing-xs);
    }
    .xs:my-sm {
      margin-block: var(--ds-spacing-sm);
    }
    .xs:my-md {
      margin-block: var(--ds-spacing-md);
    }
    .xs:my-lg {
      margin-block: var(--ds-spacing-lg);
    }
    .xs:my-xl {
      margin-block: var(--ds-spacing-xl);
    }
    .xs:my-2xl {
      margin-block: var(--ds-spacing-2xl);
    }
    .xs:my-3xl {
      margin-block: var(--ds-spacing-3xl);
    }
    .xs:my-4xl {
      margin-block: var(--ds-spacing-4xl);
    }
    .xs:my-5xl {
      margin-block: var(--ds-spacing-5xl);
    }

    .xs:mt-xs {
      margin-top: var(--ds-spacing-xs);
    }
    .xs:mt-sm {
      margin-top: var(--ds-spacing-sm);
    }
    .xs:mt-md {
      margin-top: var(--ds-spacing-md);
    }
    .xs:mt-lg {
      margin-top: var(--ds-spacing-lg);
    }
    .xs:mt-xl {
      margin-top: var(--ds-spacing-xl);
    }
    .xs:mt-2xl {
      margin-top: var(--ds-spacing-2xl);
    }
    .xs:mt-3xl {
      margin-top: var(--ds-spacing-3xl);
    }
    .xs:mt-4xl {
      margin-top: var(--ds-spacing-4xl);
    }
    .xs:mt-5xl {
      margin-top: var(--ds-spacing-5xl);
    }

    .xs:mb-xs {
      margin-bottom: var(--ds-spacing-xs);
    }
    .xs:mb-sm {
      margin-bottom: var(--ds-spacing-sm);
    }
    .xs:mb-md {
      margin-bottom: var(--ds-spacing-md);
    }
    .xs:mb-lg {
      margin-bottom: var(--ds-spacing-lg);
    }
    .xs:mb-xl {
      margin-bottom: var(--ds-spacing-xl);
    }
    .xs:mb-2xl {
      margin-bottom: var(--ds-spacing-2xl);
    }
    .xs:mb-3xl {
      margin-bottom: var(--ds-spacing-3xl);
    }
    .xs:mb-4xl {
      margin-bottom: var(--ds-spacing-4xl);
    }
    .xs:mb-5xl {
      margin-bottom: var(--ds-spacing-5xl);
    }

    .xs:ml-xs {
      margin-left: var(--ds-spacing-xs);
    }
    .xs:ml-sm {
      margin-left: var(--ds-spacing-sm);
    }
    .xs:ml-md {
      margin-left: var(--ds-spacing-md);
    }
    .xs:ml-lg {
      margin-left: var(--ds-spacing-lg);
    }
    .xs:ml-xl {
      margin-left: var(--ds-spacing-xl);
    }
    .xs:ml-2xl {
      margin-left: var(--ds-spacing-2xl);
    }
    .xs:ml-3xl {
      margin-left: var(--ds-spacing-3xl);
    }
    .xs:ml-4xl {
      margin-left: var(--ds-spacing-4xl);
    }
    .xs:ml-5xl {
      margin-left: var(--ds-spacing-5xl);
    }

    .xs:mr-xs {
      margin-right: var(--ds-spacing-xs);
    }
    .xs:mr-sm {
      margin-right: var(--ds-spacing-sm);
    }
    .xs:mr-md {
      margin-right: var(--ds-spacing-md);
    }
    .xs:mr-lg {
      margin-right: var(--ds-spacing-lg);
    }
    .xs:mr-xl {
      margin-right: var(--ds-spacing-xl);
    }
    .xs:mr-2xl {
      margin-right: var(--ds-spacing-2xl);
    }
    .xs:mr-3xl {
      margin-right: var(--ds-spacing-3xl);
    }
    .xs:mr-4xl {
      margin-right: var(--ds-spacing-4xl);
    }
    .xs:mr-5xl {
      margin-right: var(--ds-spacing-5xl);
    }
  }

  @media (min-width: var(--ds-breakpoint-sm)) {
    .sm:m-0 {
      margin: var(--ds-spacing-0);
    }
    .sm:m-xs {
      margin: var(--ds-spacing-xs);
    }
    .sm:m-sm {
      margin: var(--ds-spacing-sm);
    }
    .sm:m-md {
      margin: var(--ds-spacing-md);
    }
    .sm:m-lg {
      margin: var(--ds-spacing-lg);
    }
    .sm:m-xl {
      margin: var(--ds-spacing-xl);
    }
    .sm:m-2xl {
      margin: var(--ds-spacing-2xl);
    }
    .sm:m-3xl {
      margin: var(--ds-spacing-3xl);
    }
    .sm:m-4xl {
      margin: var(--ds-spacing-4xl);
    }
    .sm:m-5xl {
      margin: var(--ds-spacing-5xl);
    }

    .sm:mx-xs {
      margin-inline: var(--ds-spacing-xs);
    }
    .sm:mx-sm {
      margin-inline: var(--ds-spacing-sm);
    }
    .sm:mx-md {
      margin-inline: var(--ds-spacing-md);
    }
    .sm:mx-lg {
      margin-inline: var(--ds-spacing-lg);
    }
    .sm:mx-xl {
      margin-inline: var(--ds-spacing-xl);
    }
    .sm:mx-2xl {
      margin-inline: var(--ds-spacing-2xl);
    }
    .sm:mx-3xl {
      margin-inline: var(--ds-spacing-3xl);
    }
    .sm:mx-4xl {
      margin-inline: var(--ds-spacing-4xl);
    }
    .sm:mx-5xl {
      margin-inline: var(--ds-spacing-5xl);
    }

    .sm:my-xs {
      margin-block: var(--ds-spacing-xs);
    }
    .sm:my-sm {
      margin-block: var(--ds-spacing-sm);
    }
    .sm:my-md {
      margin-block: var(--ds-spacing-md);
    }
    .sm:my-lg {
      margin-block: var(--ds-spacing-lg);
    }
    .sm:my-xl {
      margin-block: var(--ds-spacing-xl);
    }
    .sm:my-2xl {
      margin-block: var(--ds-spacing-2xl);
    }
    .sm:my-3xl {
      margin-block: var(--ds-spacing-3xl);
    }
    .sm:my-4xl {
      margin-block: var(--ds-spacing-4xl);
    }
    .sm:my-5xl {
      margin-block: var(--ds-spacing-5xl);
    }

    .sm:mt-xs {
      margin-top: var(--ds-spacing-xs);
    }
    .sm:mt-sm {
      margin-top: var(--ds-spacing-sm);
    }
    .sm:mt-md {
      margin-top: var(--ds-spacing-md);
    }
    .sm:mt-lg {
      margin-top: var(--ds-spacing-lg);
    }
    .sm:mt-xl {
      margin-top: var(--ds-spacing-xl);
    }
    .sm:mt-2xl {
      margin-top: var(--ds-spacing-2xl);
    }
    .sm:mt-3xl {
      margin-top: var(--ds-spacing-3xl);
    }
    .sm:mt-4xl {
      margin-top: var(--ds-spacing-4xl);
    }
    .sm:mt-5xl {
      margin-top: var(--ds-spacing-5xl);
    }

    .sm:mb-xs {
      margin-bottom: var(--ds-spacing-xs);
    }
    .sm:mb-sm {
      margin-bottom: var(--ds-spacing-sm);
    }
    .sm:mb-md {
      margin-bottom: var(--ds-spacing-md);
    }
    .sm:mb-lg {
      margin-bottom: var(--ds-spacing-lg);
    }
    .sm:mb-xl {
      margin-bottom: var(--ds-spacing-xl);
    }
    .sm:mb-2xl {
      margin-bottom: var(--ds-spacing-2xl);
    }
    .sm:mb-3xl {
      margin-bottom: var(--ds-spacing-3xl);
    }
    .sm:mb-4xl {
      margin-bottom: var(--ds-spacing-4xl);
    }
    .sm:mb-5xl {
      margin-bottom: var(--ds-spacing-5xl);
    }

    .sm:ml-xs {
      margin-left: var(--ds-spacing-xs);
    }
    .sm:ml-sm {
      margin-left: var(--ds-spacing-sm);
    }
    .sm:ml-md {
      margin-left: var(--ds-spacing-md);
    }
    .sm:ml-lg {
      margin-left: var(--ds-spacing-lg);
    }
    .sm:ml-xl {
      margin-left: var(--ds-spacing-xl);
    }
    .sm:ml-2xl {
      margin-left: var(--ds-spacing-2xl);
    }
    .sm:ml-3xl {
      margin-left: var(--ds-spacing-3xl);
    }
    .sm:ml-4xl {
      margin-left: var(--ds-spacing-4xl);
    }
    .sm:ml-5xl {
      margin-left: var(--ds-spacing-5xl);
    }

    .sm:mr-xs {
      margin-right: var(--ds-spacing-xs);
    }
    .sm:mr-sm {
      margin-right: var(--ds-spacing-sm);
    }
    .sm:mr-md {
      margin-right: var(--ds-spacing-md);
    }
    .sm:mr-lg {
      margin-right: var(--ds-spacing-lg);
    }
    .sm:mr-xl {
      margin-right: var(--ds-spacing-xl);
    }
    .sm:mr-2xl {
      margin-right: var(--ds-spacing-2xl);
    }
    .sm:mr-3xl {
      margin-right: var(--ds-spacing-3xl);
    }
    .sm:mr-4xl {
      margin-right: var(--ds-spacing-4xl);
    }
    .sm:mr-5xl {
      margin-right: var(--ds-spacing-5xl);
    }
  }

  @media (min-width: var(--ds-breakpoint-md)) {
    .md:m-0 {
      margin: var(--ds-spacing-0);
    }
    .md:m-xs {
      margin: var(--ds-spacing-xs);
    }
    .md:m-sm {
      margin: var(--ds-spacing-sm);
    }
    .md:m-md {
      margin: var(--ds-spacing-md);
    }
    .md:m-lg {
      margin: var(--ds-spacing-lg);
    }
    .md:m-xl {
      margin: var(--ds-spacing-xl);
    }
    .md:m-2xl {
      margin: var(--ds-spacing-2xl);
    }
    .md:m-3xl {
      margin: var(--ds-spacing-3xl);
    }
    .md:m-4xl {
      margin: var(--ds-spacing-4xl);
    }
    .md:m-5xl {
      margin: var(--ds-spacing-5xl);
    }

    .md:mx-xs {
      margin-inline: var(--ds-spacing-xs);
    }
    .md:mx-sm {
      margin-inline: var(--ds-spacing-sm);
    }
    .md:mx-md {
      margin-inline: var(--ds-spacing-md);
    }
    .md:mx-lg {
      margin-inline: var(--ds-spacing-lg);
    }
    .md:mx-xl {
      margin-inline: var(--ds-spacing-xl);
    }
    .md:mx-2xl {
      margin-inline: var(--ds-spacing-2xl);
    }
    .md:mx-3xl {
      margin-inline: var(--ds-spacing-3xl);
    }
    .md:mx-4xl {
      margin-inline: var(--ds-spacing-4xl);
    }
    .md:mx-5xl {
      margin-inline: var(--ds-spacing-5xl);
    }

    .md:my-xs {
      margin-block: var(--ds-spacing-xs);
    }
    .md:my-sm {
      margin-block: var(--ds-spacing-sm);
    }
    .md:my-md {
      margin-block: var(--ds-spacing-md);
    }
    .md:my-lg {
      margin-block: var(--ds-spacing-lg);
    }
    .md:my-xl {
      margin-block: var(--ds-spacing-xl);
    }
    .md:my-2xl {
      margin-block: var(--ds-spacing-2xl);
    }
    .md:my-3xl {
      margin-block: var(--ds-spacing-3xl);
    }
    .md:my-4xl {
      margin-block: var(--ds-spacing-4xl);
    }
    .md:my-5xl {
      margin-block: var(--ds-spacing-5xl);
    }

    .md:mt-xs {
      margin-top: var(--ds-spacing-xs);
    }
    .md:mt-sm {
      margin-top: var(--ds-spacing-sm);
    }
    .md:mt-md {
      margin-top: var(--ds-spacing-md);
    }
    .md:mt-lg {
      margin-top: var(--ds-spacing-lg);
    }
    .md:mt-xl {
      margin-top: var(--ds-spacing-xl);
    }
    .md:mt-2xl {
      margin-top: var(--ds-spacing-2xl);
    }
    .md:mt-3xl {
      margin-top: var(--ds-spacing-3xl);
    }
    .md:mt-4xl {
      margin-top: var(--ds-spacing-4xl);
    }
    .md:mt-5xl {
      margin-top: var(--ds-spacing-5xl);
    }

    .md:mb-xs {
      margin-bottom: var(--ds-spacing-xs);
    }
    .md:mb-sm {
      margin-bottom: var(--ds-spacing-sm);
    }
    .md:mb-md {
      margin-bottom: var(--ds-spacing-md);
    }
    .md:mb-lg {
      margin-bottom: var(--ds-spacing-lg);
    }
    .md:mb-xl {
      margin-bottom: var(--ds-spacing-xl);
    }
    .md:mb-2xl {
      margin-bottom: var(--ds-spacing-2xl);
    }
    .md:mb-3xl {
      margin-bottom: var(--ds-spacing-3xl);
    }
    .md:mb-4xl {
      margin-bottom: var(--ds-spacing-4xl);
    }
    .md:mb-5xl {
      margin-bottom: var(--ds-spacing-5xl);
    }

    .md:ml-xs {
      margin-left: var(--ds-spacing-xs);
    }
    .md:ml-sm {
      margin-left: var(--ds-spacing-sm);
    }
    .md:ml-md {
      margin-left: var(--ds-spacing-md);
    }
    .md:ml-lg {
      margin-left: var(--ds-spacing-lg);
    }
    .md:ml-xl {
      margin-left: var(--ds-spacing-xl);
    }
    .md:ml-2xl {
      margin-left: var(--ds-spacing-2xl);
    }
    .md:ml-3xl {
      margin-left: var(--ds-spacing-3xl);
    }
    .md:ml-4xl {
      margin-left: var(--ds-spacing-4xl);
    }
    .md:ml-5xl {
      margin-left: var(--ds-spacing-5xl);
    }

    .md:mr-xs {
      margin-right: var(--ds-spacing-xs);
    }
    .md:mr-sm {
      margin-right: var(--ds-spacing-sm);
    }
    .md:mr-md {
      margin-right: var(--ds-spacing-md);
    }
    .md:mr-lg {
      margin-right: var(--ds-spacing-lg);
    }
    .md:mr-xl {
      margin-right: var(--ds-spacing-xl);
    }
    .md:mr-2xl {
      margin-right: var(--ds-spacing-2xl);
    }
    .md:mr-3xl {
      margin-right: var(--ds-spacing-3xl);
    }
    .md:mr-4xl {
      margin-right: var(--ds-spacing-4xl);
    }
    .md:mr-5xl {
      margin-right: var(--ds-spacing-5xl);
    }
  }

  @media (min-width: var(--ds-breakpoint-lg)) {
    .lg:m-0 {
      margin: var(--ds-spacing-0);
    }
    .lg:m-xs {
      margin: var(--ds-spacing-xs);
    }
    .lg:m-sm {
      margin: var(--ds-spacing-sm);
    }
    .lg:m-md {
      margin: var(--ds-spacing-md);
    }
    .lg:m-lg {
      margin: var(--ds-spacing-lg);
    }
    .lg:m-xl {
      margin: var(--ds-spacing-xl);
    }
    .lg:m-2xl {
      margin: var(--ds-spacing-2xl);
    }
    .lg:m-3xl {
      margin: var(--ds-spacing-3xl);
    }
    .lg:m-4xl {
      margin: var(--ds-spacing-4xl);
    }
    .lg:m-5xl {
      margin: var(--ds-spacing-5xl);
    }

    .lg:mx-xs {
      margin-inline: var(--ds-spacing-xs);
    }
    .lg:mx-sm {
      margin-inline: var(--ds-spacing-sm);
    }
    .lg:mx-md {
      margin-inline: var(--ds-spacing-md);
    }
    .lg:mx-lg {
      margin-inline: var(--ds-spacing-lg);
    }
    .lg:mx-xl {
      margin-inline: var(--ds-spacing-xl);
    }
    .lg:mx-2xl {
      margin-inline: var(--ds-spacing-2xl);
    }
    .lg:mx-3xl {
      margin-inline: var(--ds-spacing-3xl);
    }
    .lg:mx-4xl {
      margin-inline: var(--ds-spacing-4xl);
    }
    .lg:mx-5xl {
      margin-inline: var(--ds-spacing-5xl);
    }

    .lg:my-xs {
      margin-block: var(--ds-spacing-xs);
    }
    .lg:my-sm {
      margin-block: var(--ds-spacing-sm);
    }
    .lg:my-md {
      margin-block: var(--ds-spacing-md);
    }
    .lg:my-lg {
      margin-block: var(--ds-spacing-lg);
    }
    .lg:my-xl {
      margin-block: var(--ds-spacing-xl);
    }
    .lg:my-2xl {
      margin-block: var(--ds-spacing-2xl);
    }
    .lg:my-3xl {
      margin-block: var(--ds-spacing-3xl);
    }
    .lg:my-4xl {
      margin-block: var(--ds-spacing-4xl);
    }
    .lg:my-5xl {
      margin-block: var(--ds-spacing-5xl);
    }

    .lg:mt-xs {
      margin-top: var(--ds-spacing-xs);
    }
    .lg:mt-sm {
      margin-top: var(--ds-spacing-sm);
    }
    .lg:mt-md {
      margin-top: var(--ds-spacing-md);
    }
    .lg:mt-lg {
      margin-top: var(--ds-spacing-lg);
    }
    .lg:mt-xl {
      margin-top: var(--ds-spacing-xl);
    }
    .lg:mt-2xl {
      margin-top: var(--ds-spacing-2xl);
    }
    .lg:mt-3xl {
      margin-top: var(--ds-spacing-3xl);
    }
    .lg:mt-4xl {
      margin-top: var(--ds-spacing-4xl);
    }
    .lg:mt-5xl {
      margin-top: var(--ds-spacing-5xl);
    }

    .lg:mb-xs {
      margin-bottom: var(--ds-spacing-xs);
    }
    .lg:mb-sm {
      margin-bottom: var(--ds-spacing-sm);
    }
    .lg:mb-md {
      margin-bottom: var(--ds-spacing-md);
    }
    .lg:mb-lg {
      margin-bottom: var(--ds-spacing-lg);
    }
    .lg:mb-xl {
      margin-bottom: var(--ds-spacing-xl);
    }
    .lg:mb-2xl {
      margin-bottom: var(--ds-spacing-2xl);
    }
    .lg:mb-3xl {
      margin-bottom: var(--ds-spacing-3xl);
    }
    .lg:mb-4xl {
      margin-bottom: var(--ds-spacing-4xl);
    }
    .lg:mb-5xl {
      margin-bottom: var(--ds-spacing-5xl);
    }

    .lg:ml-xs {
      margin-left: var(--ds-spacing-xs);
    }
    .lg:ml-sm {
      margin-left: var(--ds-spacing-sm);
    }
    .lg:ml-md {
      margin-left: var(--ds-spacing-md);
    }
    .lg:ml-lg {
      margin-left: var(--ds-spacing-lg);
    }
    .lg:ml-xl {
      margin-left: var(--ds-spacing-xl);
    }
    .lg:ml-2xl {
      margin-left: var(--ds-spacing-2xl);
    }
    .lg:ml-3xl {
      margin-left: var(--ds-spacing-3xl);
    }
    .lg:ml-4xl {
      margin-left: var(--ds-spacing-4xl);
    }
    .lg:ml-5xl {
      margin-left: var(--ds-spacing-5xl);
    }

    .lg:mr-xs {
      margin-right: var(--ds-spacing-xs);
    }
    .lg:mr-sm {
      margin-right: var(--ds-spacing-sm);
    }
    .lg:mr-md {
      margin-right: var(--ds-spacing-md);
    }
    .lg:mr-lg {
      margin-right: var(--ds-spacing-lg);
    }
    .lg:mr-xl {
      margin-right: var(--ds-spacing-xl);
    }
    .lg:mr-2xl {
      margin-right: var(--ds-spacing-2xl);
    }
    .lg:mr-3xl {
      margin-right: var(--ds-spacing-3xl);
    }
    .lg:mr-4xl {
      margin-right: var(--ds-spacing-4xl);
    }
    .lg:mr-5xl {
      margin-right: var(--ds-spacing-5xl);
    }
  }
}
