@layer base {
  @layer input-base {
    [class~="ds-input:base"] {
      height: 40px;
      width: 40%;

      padding: 0 16px;

      font-size: var(--ds-font-size-sm);
      line-height: var(--ds-line-height-normal);

      border: 1px solid var(--ds-border);
      border-radius: var(--ds-radius-md);

      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      transition: all 0.2s ease-in-out;

      &:disabled {
        background-color: var(--ds-muted);
        color: var(--ds-text-default);
        cursor: not-allowed;
      }

      &::placeholder {
        color: var(--ds-text-default);
      }

      &:focus {
        outline: none;
        border-color: var(--ds-primary);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
      }
    }

    [class~="ds-input:helper-text"] {
      color: var(--ds-text-default);
      font-size: var(--ds-font-size-sm);
    }
  }

  @layer error-input {
    [class~="ds-input:error"] {
      border-color: var(--ds-error);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      &:focus {
        border-color: var(--ds-error);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        border-color: var(--ds-error);
        box-shadow: 2px 2px 2px 2px rgba(204, 8, 8, 0.2);
      }
    }

    [class~="ds-input:error-message"] {
      color: var(--ds-error);
      font-size: var(--ds-font-size-sm);
    }
  }
}
