/* Margin */

/* Margin Left */
.ml-xs { margin-left: var(--ds-spacing-xs); }
.ml-sm { margin-left: var(--ds-spacing-sm); }
.ml-md { margin-left: var(--ds-spacing-md); }
.ml-lg { margin-left: var(--ds-spacing-lg); }

/* Margin Left Custom */
.ml-\[var\(--margin\)\] { margin-left: var(--margin); }

/* Margin Right */
.mr-xs { margin-right: var(--ds-spacing-xs); }
.mr-sm { margin-right: var(--ds-spacing-sm); }
.mr-md { margin-right: var(--ds-spacing-md); }
.mr-lg { margin-right: var(--ds-spacing-lg); }

/* Margin Right Custom */
.mr-\[var\(--margin\)\] { margin-right: var(--margin); }

/* Margin X */
.mx-xs { margin-inline: var(--ds-spacing-xs); }
.mx-sm { margin-inline: var(--ds-spacing-sm); }
.mx-md { margin-inline: var(--ds-spacing-md); }
.mx-lg { margin-inline: var(--ds-spacing-lg); }

/* Margin X Custom */
.mx-\[var\(--margin\)\] { margin-inline: var(--margin); }

/* Margin Y */
.my-xs { margin-block: var(--ds-spacing-xs); }
.my-sm { margin-block: var(--ds-spacing-sm); }
.my-md { margin-block: var(--ds-spacing-md); }
.my-lg { margin-block: var(--ds-spacing-lg); }

/* Margin Y Custom */
.my-\[var\(--margin\)\] { margin-block: var(--margin); }

/* Margin Top */
.mt-xs { margin-top: var(--ds-spacing-xs); }
.mt-sm { margin-top: var(--ds-spacing-sm); }
.mt-md { margin-top: var(--ds-spacing-md); }
.mt-lg { margin-top: var(--ds-spacing-lg); }

/* Margin Top Custom */
.mt-\[var\(--margin\)\] { margin-top: var(--margin); }

/* Margin Bottom */
.mb-xs { margin-bottom: var(--ds-spacing-xs); }
.mb-sm { margin-bottom: var(--ds-spacing-sm); }
.mb-md { margin-bottom: var(--ds-spacing-md); }
.mb-lg { margin-bottom: var(--ds-spacing-lg); }

/* Margin Bottom Custom */
.mb-\[var\(--margin\)\] { margin-bottom: var(--margin); }

/* Margin All */
.m-xs { margin: var(--ds-spacing-xs); }
.m-sm { margin: var(--ds-spacing-sm); }
.m-md { margin: var(--ds-spacing-md); }
.m-lg { margin: var(--ds-spacing-lg); }

/* Margin All Custom */
.m-\[var\(--margin\)\] { margin: var(--margin); }