@layer height {
  .h-10 {
    height: var(--ds-height-10);
  }
  .h-20 {
    height: var(--ds-height-20);
  }
  .h-30 {
    height: var(--ds-height-30);
  }
  .h-40 {
    height: var(--ds-height-40);
  }
  .h-50 {
    height: var(--ds-height-50);
  }
  .h-60 {
    height: var(--ds-height-60);
  }
  .h-70 {
    height: var(--ds-height-70);
  }
  .h-80 {
    height: var(--ds-height-80);
  }
  .h-90 {
    height: var(--ds-height-90);
  }
  .h-100 {
    height: var(--ds-height-100);
  }
  .h-200 {
    height: var(--ds-height-200);
  }
  .h-300 {
    height: var(--ds-height-300);
  }
  .h-400 {
    height: var(--ds-height-400);
  }
  .h-500 {
    height: var(--ds-height-500);
  }
  .h-600 {
    height: var(--ds-height-600);
  }
  .h-700 {
    height: var(--ds-height-700);
  }
  .h-800 {
    height: var(--ds-height-800);
  }
  .h-900 {
    height: var(--ds-height-900);
  }
  .h-1000 {
    height: var(--ds-height-1000);
  }
  
  .h-full {
    height: 100%;
  }
  .h-screen {
    height: 100vh;
  }
  .h-min-content {
    height: min-content;
  }
  .h-max-content {
    height: max-content;
  }
}
