@layer base {
  @layer stack {
    /* HStack */
    .ds-hstack {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    /* VStack */
    .ds-vstack {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
    }
  }
}
