@layer base {
  .ds-hstack {
    display: flex;
    flex-direction: row;
  }

  .ds-vstack {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .ds-hstack {
      flex-direction: column;
    }
  }
}
